*.o
/Makefile
compat.c
labelgrep
miniquark
renv
rinstall
rset
rsub
tests/args
tests/cmd_pipe_stdin
tests/cmd_pipe_stdout
tests/copyfile
tests/getsocket
tests/hostlist
tests/parser
tests/ssh_command
tests/which
tests/.gem
