*.o
Makefile
compat.c
labelgrep
log/
miniquark
rinstall
rset
rset-fanout
rsub
tests/args
tests/cmd_pipe_stdin
tests/cmd_pipe_stdout
tests/copyfile
tests/getsocket
tests/parser
tests/ssh_command
tests/which
